@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #1e293b;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #0f172a;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #020617;
}
